
version: '3'
services:
  db:
    image: postgres
    environment:
      POSTGRES_PASSWORD: truco
      POSTGRES_DB: trucobet
    ports:
      - "5432:5432"
  api:
    image: node:18
    volumes:
      - .:/app
    working_dir: /app
    command: node server.js
    ports:
      - "3001:3001"
    depends_on:
      - db
